.col-right {
  background-color: darkcyan;
  color: white;
}

input {
  padding: 10px;
  border: none;
}

.summary-item {
  margin-bottom: 20px;
}

.param__details {
  margin-bottom: 50px;
  border: 2px solid gray;
  border-radius: 10px;
}
.param__details--error {
  border-color: red;
}

.param__limits {
  display: flex;
  justify-content: space-between;
}
